.invi{
  opacity: 0.0;
}

.btn-plus-outline {
  background-color: transparent;
  color: #5cb85c;
  /*transition: all .5s;*/
  border:1px solid #5cb85c;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 12px;
  /*font-weight: 400;*/
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border-radius: 4px;
  text-decoration: none;
  width:50px;
}

.btn-plus-outline:hover{
  text-decoration: none;
  background-color: #5cb85c;
  color: #FFFFFF;
  border:1px solid #5cb85c;
}

/*.btn-minus-outline {
  background-color: transparent;
  color: #c12e2a;
  transition: all .5s;
  border:1px solid #c12e2a;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border-radius: 4px;
  text-decoration: none;
  width:50px;
}

.btn-minus-outline:hover{
  text-decoration: none;
  background-color: #c12e2a;
  border:1px solid #c12e2a;
  color: #FFFFFF;
}*/

.qty-input-box{
  background-color: transparent;
  color: #000000;
  transition: all .5s;
  border:0.5px solid #000000;
  display: inline-block;
  padding: 6px 2px;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  user-select: none;
  background-image: none;
  border-radius: 4px;
  text-decoration: none;
  width: 50%;
  font-size: 20px;
}
